@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

#navbar {
    background-color: rgb(150, 7, 7);
    color: white;
    text-align: center;
    padding: 10px;
}

#navbar a {
    padding-inline: 10px;
}

.nunito {
    font-family: "Nunito", sans-serif;
}

#hello-world-txt {
    text-align: center;
    color: gray;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
 /* font-variation-settings:
    "wdth" 100;*/
}